@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.noisy-bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: noisy-bg-animation 0.2s infinite;
  opacity: 1;
  visibility: visible;
}

@keyframes noisy-bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

.btnHoverFill span:first-child {
  transform: translateX(-101%);
  transition: transform 0.3s ease-in;
}
.btnHoverFill:hover span {
  transform: translateX(0);
}

@font-face {
  font-family: "Montreal Yunus";
  src: url("/src/assets/fonts/NeueMontreal-Regular.otf");
}

.reveal:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 120%;
  background: #181c1a;
  /* background: white; */
}